<!-- pageheader  -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">登入</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">首頁</a></li>
                        <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">帳號管理</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ˇ登入</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /pageheader  -->
<!-- login page  -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header text-center"><a class="navbar-brand" href="index.html">約會(議室)系統</a><span class="splash-description">歡迎使用本系統</span></div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="username" type="text" placeholder="請輸入帳號" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="password" type="password" placeholder="請輸入密碼">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">記住我</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">登入</button>
                </form>
            </div>
            <div class="card-footerX bg-white p-0  ">
                <div class="card-footer-itemX card-footer-item-bordered">
                    <a href="registration.html" class="footer-link">創建帳號</a>
                </div>
                <div class="card-footer-itemX card-footer-item-bordered">
                    <a href="#" class="footer-link">忘記密碼</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /login page  -->