<div class="row card">
    <div class="card-header">
        <h2>台灣科技大學會議室室借用規則</h2>
    </div>    
    <div class="row card-body mx-4">
        <p>
            第一條 宗旨：為支援本校教職員工生利用圖書館館藏進行小團體研究、課業討論或影片欣賞，特設立討論小間及團體視聽室，並訂定本規則。
        </p>
    </div>
    <div class="row card-body mx-4">
        <p>
            第二條 借用與使用資格：本規則所適用之借用人與使用人,包括<br/>
            一、本校教職員工生。<br />
            二、國立臺灣大學與國立臺灣師範大學兩校專任教職員工、博士班、碩士班及大學部在學學生。<br/>
        </p>
    </div>
    <div class="row card-body mx-4">
        <p>
            第三條 申請說明：<br />
            一、申請人數<br />
            2人以上始得申請。<br />
            二、申請程序<br />
            (一)本校教職員工生：採「線上預約」或「當天現場申請」方式。<br />
            1. 線上預約：借用人請於圖書館管理系統辦理線上申請，經審核通過始可保留使用權。於報到時出示借用人服務證或學生證，並暫押前述證件三張辦理借用。<br />
            2. 現場申請：當天無人使用或無人預約之時段，借用人可親持教職員工服務證或學生證至圖書館二樓服務台填寫申請表，並暫押前述證件三張辦理借用。<br />
        </p>
    </div>
</div>

@section scripts{
    <script>
    </script>
}