<!-- pageheader  -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h3 class="mb-2">預約查詢</h3>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">首頁</a></li>
                        <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">預約管理</a></li>
                        <li class="breadcrumb-item active" aria-current="page">預約查詢</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /pageheader  -->
<!-- content  -->
<!-- influencer profile  -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card influencer-profile-data">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="text-center">
                            <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded-circle user-avatar-xxl">
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-12">
                        <div class="user-avatar-info">
                            <div class="m-b-20">
                                <div class="user-avatar-name">
                                    <h2 class="mb-1">王曉明</h2>
                                </div>
                            </div>
                            <!--  <div class="float-right"><a href="#" class="user-avatar-email text-secondary">www.henrybarbara.com</a></div> -->
                            <div class="user-avatar-address">
                                <p class="border-bottom pb-3">
                                    <span class=" mb-2 d-xl-inline-block d-block ml-xl-4">
                                        系所
                                    </span>
                                    <span class=" mb-2 d-xl-inline-block d-block ml-xl-4">教師</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /influencer profile  -->
<!-- widgets   -->->
<div class="row">
    <!-- total views   -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-inline-block">
                    <h5 class="text-muted">總借用次數</h5>
                    <h2 class="mb-0">666,666</h2>
                </div>
                <div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
                    <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- /total views   -->
    <!-- total followers   -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-inline-block">
                    <h5 class="text-muted">總借用時數</h5>
                    <h2 class="mb-0">12,345</h2>
                </div>
                <div class="float-right icon-circle-medium  icon-box-lg  bg-primary-light mt-1">
                    <i class="fa fa-user fa-fw fa-sm text-primary"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- /total followers   -->
</div>
<!-- /widgets   -->
<div class="row">
    <!-- room log -->
    <div class="col-lg-12">
        <div class="section-block">
            <h3 class="section-title">借用紀錄</h3>
        </div>
        <div class="card">
            <div class="campaign-table table-responsive">
                <table class="table">
                    <thead>
                        <tr class="border-0">
                            <th class="border-0">會議室地點</th>
                            <th class="border-0">借用時段</th>
                            <th class="border-0">會議人數</th>
                            <th class="border-0">狀態</th>
                            <th class="border-0">申請時間</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>RA-101</td>
                            <td>00:00-24:00</td>
                            <td>99</td>
                            <td>預約中</td>
                            <td>2022/01/01 00:00</td>
                        </tr>
                        <tr>
                            <td>RA-102</td>
                            <td>00:00-24:00</td>
                            <td>99</td>
                            <td>已結束</td>
                            <td>2020/01/01 00:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /room log -->
</div>
<!-- end content  -->
